numpy
scipy
pandas
matplotlib
plotly
pelicun
colorlover
sphinx
sphinx_design
sphinx-rtd-theme
sphinxcontrib-bibtex
numpydoc
tqdm
streamlit >= 1.48.0
streamlit-keyup == 0.3.0
rapidfuzz >= 3.13.0
requests>=2.31.0